body {
  background-color: #adb5bd;
}

.primeira {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 500px;
  width: 50vh;
  border: 10px dotted black;
}

.casula {
  background-color: yellow;
  height: 50px;
  width: 30%;
}

.primeira_filha {
  background-color: rgb(251, 86, 7);
  height: 100px;
  width: 30%;
}

.neta {
  background-color: rgb(64, 145, 108);
  color: white;
  font-size: 30px;
  padding: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
